<nav class="navbar navbar-dark bg-dark fixed-top">
	<a class="btn btn-light float-right" href="{{ path('home') }}">Index</a>
	<a class="btn btn-light navbar-btn float-right" href="{{ path('events') }}">Crear evento</a>
	<a class="btn btn-light navbar-btn float-right" href="{{ path('friends') }}">Amigos</a>
	<a class="btn btn-light navbar-btn pull-right" href="{{ path('logout') }}">Log out</a>
	<a class="btn btn-light navbar-btn pull-right" href="{{ path('perfil') }}">Preferencias</a>
</nav>